<header class="nav">
  <div class="nav-container">

    <!-- Logo -->
    <div class="logo">
      <img src="card.png" alt="Tarot" />
      <span class="brand">VerTes</span>
    </div>

    <!-- Desktop Menu -->
    <nav class="menu desktop-menu">
      <a href="/home" >მთავარი</a>
      <a href="/tarot" >ტარო</a>
      <a href="/learn" >ისწავლე</a>
      <a href="/about" >საიტის შესახებ</a>
      <a href="/tarot">სხვა სერვისები</a>
    </nav>

    <button class="btn-primary desktop-btn">დაიწყე</button>

   
    @if (menuOpen) {
  <div class="overlay" (click)="closeMenu()"></div>
}
    <!-- Hamburger (mobile only) -->
    <button class="hamburger" (click)="toggleMenu()">
      <span [class.open]="menuOpen"></span>
      <span [class.open]="menuOpen"></span>
      <span [class.open]="menuOpen"></span>
    </button>
  </div>

  <!-- Mobile Slide Menu -->
  <div class="mobile-menu" [class.open]="menuOpen">
    <nav>
      <a (click)="closeMenu()" href="/home">Home</a>
      <a (click)="closeMenu()" href="/tarot">tarot</a>
      <a (click)="closeMenu()" href="/services">Services</a>
      <a (click)="closeMenu()" href="/learn">learn</a>
      <a (click)="closeMenu()" href="about">Contact</a>
      <button class="btn-primary full-btn">დაიწყე</button>
    </nav>
  </div>

</header>