
<div class ="main">
  <div class="ask">
      <h1>მიიღე პასუხები შენს კითხვებზე</h1>
      <h2>მოემზადე სათანადოდ:</h2>
      <ol>
        <li>დახუჭე თვალები</li>
        <li>ღრმად ჩაისუნთქე</li>
        <li>გაიაზრე შეკითხვა</li>
        <li>დააჭირე ღილაკს</li>
      </ol>

  
      <button 
        (click)="loadRandomCard()" 
        class="button" 
        [disabled]="cards.length >=maxCards"
        >გაიგე გაქვს თუ არა ნეგატივი ე.წ. ჯადო</button>

      @if (cards.length>=maxCards) {
        <p style="color:red" > *კარტების მაქსიმალური რაოდენობა არის 3</p>
      }

      <div class="cards">
        @for (card of cards; track $index) {
          <div class="card">
            
            <img [src]="'http://localhost:8080' + card.image_url" alt="arcan" />

            <h3>{{card.name}}</h3>
            <p>{{card.meaning}}</p>
            <p>{{card?.image_url}}</p>
          </div>
        }
      </div>
      

  </div>
    

</div>
